domain='<domain_name>'
letsencryptemail='<email_address>'
email_host='<mail_server_hostname>'
email_port=<port>
email_username='<email>'
email_password='<password>'
MNEMONICS='<MNEMONICS>'
CHAIN_URL='wss://tfchain.dev.grid.tf/ws'
NETWORK='dev' 
ADMINS="['<3bot_name>']"
ALERT_EMAIL='<support_mail_address>'
SUPPORT_PUBLIC_SSH_KEY='<public ssh key>'
RESTIC_REPOSITORY='<RESTIC_REPOSITORY_URL>'
RESTIC_PASSWORD='<RESTIC_REPOSITORY_PASSWORD>'
AWS_ACCESS_KEY_ID='<MY_ACCESS_KEY_ID>'
AWS_SECRET_ACCESS_KEY='<MY_SECRET_ACCESS_KEY>'